<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>RSV PROGRAMMING</title>
</head>

<body>

    <!-- HEADER -->
    <header id="header">
        <div id="logotipo">
            <img src="../img/logo.png" alt="logotipo de la web">
        </div>
        <h1>
            <a href="index.html">
                RSV PROGRAMMING
            </a>
        </h1>
    </header>

    <!-- MENÚ DE NAVEGACIÓN -->
    <nav id="nav">
        <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li>
                <a href="./productos.html">Productos</a>
                <ul>
                    <li><a href="">HTML</a></li>
                    <li><a href="">CSS</a></li>
                    <li><a href="">Javascript</a></li>
                </ul>
            </li>
            <li><a href="./presupuestos.html">Presupuesto</a></li>
        </ul>
    </nav>

    <!-- CONTENIDO CENTRAL -->
    <div id="content">

        <!-- BARRA LATERAL -->
        <aside id="aside">
            <div class="widget" id="login">
                <h3>Entrar a la web</h3>
                <form action="">
                    <label for="">Usuario: </label>
                    <input type="text">

                    <label for="">Contraseña: </label>
                    <input type="password">

                    <input type="submit" value="Entrar">
                </form>
                <a href="#">Suscripción</a>
                <a href="#">Contenido</a>
                <a href="#">Ayuda</a>

            </div>
            <div class="widget" id="login">
                <h3>Zona Premium</h3>
                <form action="">
                    <label for="">Nombre de usuario: </label>
                    <input type="text">

                    <label for="">Contraseña: </label>
                    <input type="password">

                    <input type="submit" value="Entrar">

                </form>
            </div>

            <div class="widget" id="login">
                <h3>Cliente silver</h3>
                <form action="">
                    <label for="">Nombre de suario: </label>
                    <input type="text">

                    <label for="">Contraseña: </label>
                    <input type="password">

                    <input type="submit" value="Entrar">
                </form>
            </div>

            <div class="widget" id="login">
                <h3>Enlaces de interés</h3>
                <ul>
                    <li>
                        <a href="https://developer.mozilla.org/es/docs/Web/HTML">
                            HTML
                        </a>
                    </li>
                    <li>
                        <a href="https://developer.mozilla.org/es/docs/Web/CSS">
                            CSS
                        </a>
                    </li>
                    <li>
                        <a href="https://developer.mozilla.org/es/docs/Web/JavaScript">
                            Javascript
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

    </div>

</body>

</html>